<a href="https://colab.research.google.com/github/deelilah/Independent-Project-3/blob/master/Data_Preparation_and_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#importing the libraries in which pandas are dependent on numpy
import pandas as pd

import numpy as np

In [0]:
#loading the datasets
url="Telcom_dataset.csv"
tele1=pd.read_csv(url)

tele1.head(40)

   PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0    Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1      sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2      sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3    Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4    Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
5     data      0  2012-05-06 23:07:26.0  ...     OTHER  /lrUXVGVcN  /lrUXVGVcN
6    Voice      0  2012-05-06 23:08:02.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
7    Voice      0  2012-05-06 23:08:03.0  ...     19e2e  09UjmmY1Ds  09UjmmY1Ds
8    Voice      0  2012-05-06 23:08:05.0  ...     19e2e  0DeimCpZOc  0DeimCpZOc
9      sms      0  2012-05-06 23:08:43.0  ...     19e2e  01MDiY5F89  01MDiY5F89
10     sms      0  2012-05-06 23:08:50.0  ...     19e2e  0Fmr/IZtQ+  0Fmr/IZtQ+
11     sms      0  2012-05-06 23:09:12.0  ...     19e2e  0MZBLLzPYZ  0MZBLLzPYZ
12     sms      0  2012-05-06 23:09:13.0  ...     19e2e  0//cZOoEXj  0//cZOoEXj
13     sms     25  2012-05-06 23:09:16.0  ...     19e2e  2dmu2Iy1CX  2dmu2Iy1CX
14   Voice      0  2012-05-06 23:09:26.0  ...     19e2e  0Fmr/IZtQ+  0Fmr/IZtQ+
15   Voice      0  2012-05-06 23:09:51.0  ...     19e2e  176sGHv7Ym  176sGHv7Ym
16   Voice     44  2012-05-06 23:09:54.0  ...     19e2e  ++ctND+jGD  ++ctND+jGD
17   Voice      0  2012-05-06 23:09:59.0  ...     19e2e  1JODMow6DN  1JODMow6DN
18     sms      0  2012-05-06 23:10:05.0  ...     19e2e  2PbwFG2K9y  2PbwFG2K9y
19   Voice     14  2012-05-06 23:10:23.0  ...     19e2e  2GgIN622rt  2GgIN622rt
20    data      0  2012-05-06 23:10:30.0  ...     OTHER  /vLAMOS+Qm  /vLAMOS+Qm
21     sms      0  2012-05-06 23:10:41.0  ...     19e2e  2dmu2Iy1CX  2dmu2Iy1CX
22     sms     50  2012-05-06 23:11:14.0  ...     19e2e  2FzOAUm82C  2FzOAUm82C
23    data      0  2012-05-06 23:11:27.0  ...     OTHER  2yuhUrSXQu  2yuhUrSXQu
24   Voice      0  2012-05-06 23:11:27.0  ...     19e2e  3mQAiRAfo7  3mQAiRAfo7
25    data      0  2012-05-06 23:12:07.0  ...     OTHER  2FzOAUm82C  2FzOAUm82C
26   Voice      0  2012-05-06 23:12:10.0  ...     19e2e  +gySf02tKW  +gySf02tKW
27   Voice     19  2012-05-06 23:12:25.0  ...     19e2e  /EkqCbWDau  /EkqCbWDau
28     sms     25  2012-05-06 23:12:25.0  ...     19e2e  /kxqxDGV0Z  /kxqxDGV0Z
29     sms      0  2012-05-06 23:12:36.0  ...     19e2e  4K++Px614U  4K++Px614U
30   Voice    192  2012-05-06 23:12:43.0  ...     19e2e  1AX75JmPtt  1AX75JmPtt
31     sms      0  2012-05-06 23:12:45.0  ...     19e2e  0nabagle1r  0nabagle1r
32   Voice     99  2012-05-06 23:13:03.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
33    data      0  2012-05-06 23:13:05.0  ...     OTHER  +pZNtCvhmT  +pZNtCvhmT
34     sms      0  2012-05-06 23:13:09.0  ...     19e2e  0MZBLLzPYZ  0MZBLLzPYZ
35   Voice      0  2012-05-06 23:13:13.0  ...     19e2e  /kxqxDGV0Z  /kxqxDGV0Z
36   Voice     12  2012-05-06 23:13:23.0  ...     19e2e  4506CmswTv  4506CmswTv
37   Voice      0  2012-05-06 23:13:30.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
38   Voice     24  2012-05-06 23:13:41.0  ...     19e2e  /vLAMOS+Qm  /vLAMOS+Qm
39   Voice      0  2012-05-06 23:13:45.0  ...     19e2e  0nabagle1r  0nabagle1r

[40 rows x 10 columns]

In [0]:
url="Telcom_dataset2.csv"
tele2=pd.read_csv(url)

tele2.head(10)

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
5     sms      0  2012-05-07 23:05:41.0  ...     19e2e  /MMplBlWjh  /MMplBlWjh
6   Voice     41  2012-05-07 23:06:14.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
7   Voice     11  2012-05-07 23:06:28.0  ...     19e2e  +gySf02tKW  +gySf02tKW
8     sms      0  2012-05-07 23:06:35.0  ...     OTHER  /0FxP3az1x  /0FxP3az1x
9     sms      0  2012-05-07 23:06:50.0  ...     19e2e  0ecjmwPX21  0ecjmwPX21

[10 rows x 10 columns]

In [0]:
url="Telcom_dataset3.csv"
tele3=pd.read_csv(url)

tele3.head(10)

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
5   Voice     10  2012-05-08 23:03:59.0  ...     19e2e  +e+xcimwre  +e+xcimwre
6     sms      0  2012-05-08 23:06:06.0  ...     19e2e  +R5ccmtyJf  +R5ccmtyJf
7   Voice     10  2012-05-08 23:06:55.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
8     sms     25  2012-05-08 23:07:09.0  ...     19e2e  13O1+JEun3  13O1+JEun3
9     sms      0  2012-05-08 23:07:38.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[10 rows x 10 columns]

In [0]:

url=("cells_geo.csv")
geo=pd.read_csv(url ,delimiter =";")
geo

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [0]:
url="cells_geo_description.xlsx"
df.to_csv(url)
print(df)

      Unnamed: 0      VILLES  STATUS  ...           AREA     CELL_ID   SITE_CODE
9              9       ABOBO     NaN  ...            NaN  ee224cd27e  56306cc7ca
10            10       ABOBO     NaN  ...            NaN  107d0d752c  56306cc7ca
164          164  BONGOUANOU     NaN  ...  ABIDJAN SOUTH  6750e0fb7b  20387d4292
183          183  BONGOUANOU     NaN  ...           EAST  6750e0fb7b  20387d4292
184          184  BONGOUANOU     NaN  ...           EAST  6750e0fb7b  20387d4292
...          ...         ...     ...  ...            ...         ...         ...
3691        3691      ADJAME     NaN  ...  ABIDJAN NORTH  b0dbc2e61c  5c565fbfb1
3804        3804    YOPOUGON     NaN  ...  ABIDJAN NORTH  6680e8a299  2d58cad870
3853        3853    YOPOUGON     NaN  ...  ABIDJAN NORTH  f2c2245f51  780c0d5bd7
3854        3854    YOPOUGON     NaN  ...  ABIDJAN NORTH  abf11b69b9  780c0d5bd7
3855        3855    YOPOUGON     NaN  ...  ABIDJAN NORTH  9469fa91b2  780c0d5bd7

[67 rows x 12 columns]

In [0]:
#status is not in service
geo=geo[geo['STATUS']!='In Service']
geo

      Unnamed: 0      VILLES STATUS  ...           AREA     CELL_ID   SITE_CODE
9              9       ABOBO    NaN  ...            NaN  ee224cd27e  56306cc7ca
10            10       ABOBO    NaN  ...            NaN  107d0d752c  56306cc7ca
164          164  BONGOUANOU    NaN  ...  ABIDJAN SOUTH  6750e0fb7b  20387d4292
183          183  BONGOUANOU    NaN  ...           EAST  6750e0fb7b  20387d4292
184          184  BONGOUANOU    NaN  ...           EAST  6750e0fb7b  20387d4292
...          ...         ...    ...  ...            ...         ...         ...
3691        3691      ADJAME    NaN  ...  ABIDJAN NORTH  b0dbc2e61c  5c565fbfb1
3804        3804    YOPOUGON    NaN  ...  ABIDJAN NORTH  6680e8a299  2d58cad870
3853        3853    YOPOUGON    NaN  ...  ABIDJAN NORTH  f2c2245f51  780c0d5bd7
3854        3854    YOPOUGON    NaN  ...  ABIDJAN NORTH  abf11b69b9  780c0d5bd7
3855        3855    YOPOUGON    NaN  ...  ABIDJAN NORTH  9469fa91b2  780c0d5bd7

[67 rows x 12 columns]

In [0]:
#replace NaN with no service
geo.replace("NaN", 
                 value ="Not in service") 
geo

      Unnamed: 0      VILLES  STATUS  ...           AREA     CELL_ID   SITE_CODE
9              9       ABOBO     NaN  ...            NaN  ee224cd27e  56306cc7ca
10            10       ABOBO     NaN  ...            NaN  107d0d752c  56306cc7ca
164          164  BONGOUANOU     NaN  ...  ABIDJAN SOUTH  6750e0fb7b  20387d4292
183          183  BONGOUANOU     NaN  ...           EAST  6750e0fb7b  20387d4292
184          184  BONGOUANOU     NaN  ...           EAST  6750e0fb7b  20387d4292
...          ...         ...     ...  ...            ...         ...         ...
3691        3691      ADJAME     NaN  ...  ABIDJAN NORTH  b0dbc2e61c  5c565fbfb1
3804        3804    YOPOUGON     NaN  ...  ABIDJAN NORTH  6680e8a299  2d58cad870
3853        3853    YOPOUGON     NaN  ...  ABIDJAN NORTH  f2c2245f51  780c0d5bd7
3854        3854    YOPOUGON     NaN  ...  ABIDJAN NORTH  abf11b69b9  780c0d5bd7
3855        3855    YOPOUGON     NaN  ...  ABIDJAN NORTH  9469fa91b2  780c0d5bd7

[67 rows x 12 columns]

In [0]:
#enable easy merging
t1=tele1.rename(columns={'DATETIME':'DATE_TIME','PRODUTC':'PRODUCT'})
t1

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 10 columns]

In [0]:
#To be able to merge the tables
t3=tele3.rename(columns={'CELLID':'CELL_ID','SIET_ID':'SITE_ID'})
t3

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[5001 rows x 10 columns]

In [0]:
t2=tele2.rename(columns={'DW_A_NUMBER':'DW_A_NUMBER_INT','DW_B_NUMBER':'DW_B_NUMBER_INT'})
t2

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN
5000   Voice      0  2012-05-08 00:01:53.0  ...     19e2e  8630058aca  b47a998a3e

[5001 rows x 10 columns]

In [0]:
#merge the 3 tables 
values=[tele1,tele2,tele3]
values=pd.concat((values), ignore_index=True)
values

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

           CELLID     CELL_ID CELL_ON_SITE  ...     SIET_ID     SITE_ID VALUE
0             NaN  /TJNe+Mmtu            1  ...         NaN  /TJNe+Mmtu     0
1             NaN  /+cKZKIp41            0  ...         NaN  /+cKZKIp41     0
2             NaN  /u0FSD+ahi            0  ...         NaN  /u0FSD+ahi    25
3             NaN  +cNeJzsTp3            1  ...         NaN  +cNeJzsTp3    56
4             NaN  051KhYDCpv            1  ...         NaN  051KhYDCpv    14
...           ...         ...          ...  ...         ...         ...   ...
14998  2aa04dcab7         NaN            3  ...  f7d63a29e5         NaN     0
14999  7f1f2f889f         NaN            1  ...  b4ddb9e93c         NaN    62
15000  a4731e780e         NaN            1  ...  d68260ef50         NaN    32
15001  98ed726da2         NaN            2  ...  b4130b54ab         NaN    30
15002  1c11a2fcbb         NaN            2  ...  6d70dae094         NaN    60

[15003 rows x 16 columns]

In [0]:
#finding out all the products offered by mtn network
list(set(values.PRODUCT))

[nan, 'data', 'sms', 'Voice']

In [0]:
#Getting the product with the highest value from our combined list
values.loc[values['VALUE'].idxmax()]

CELLID                        2def69183e
CELL_ID                              NaN
CELL_ON_SITE                           0
COUNTRY_A                          19e2e
COUNTRY_B                          19e2e
DATETIME                             NaN
DATE_TIME          2012-05-09 00:00:17.0
DW_A_NUMBER                          NaN
DW_A_NUMBER_INT          4dd4a851f1da5ac
DW_B_NUMBER                          NaN
DW_B_NUMBER_INT          f2f15ef096345ad
PRODUCT                            Voice
PRODUTC                              NaN
SIET_ID                              NaN
SITE_ID                              NaN
VALUE                              12900
Name: 11552, dtype: object

In [0]:
#find the most used product on the MTN network from the combined list
values['PRODUCT'].value_counts()

sms      5096
Voice    3447
data     1459
Name: PRODUCT, dtype: int64

In [0]:
#Selecting from the dataset the products used between 11pm and 12midnight
Start_time = '2012-05-06 23:02:06.0' or '2012-05-07 23:02:06.0' or '2012-05-08 23:02:06.0'
End_time = '2012-05-07 00:00:00.0' or '2012-05-08 00:00:00.0' or '2012-05-09 00:00:00.0'
time_val=values[(values['DATE_TIME'] > Start_time) & (values['DATE_TIME'] < End_time)]
time_val

Empty DataFrame
Columns: [CELLID, CELL_ID, CELL_ON_SITE, COUNTRY_A, COUNTRY_B, DATETIME, DATE_TIME, DW_A_NUMBER, DW_A_NUMBER_INT, DW_B_NUMBER, DW_B_NUMBER_INT, PRODUCT, PRODUTC, SIET_ID, SITE_ID, VALUE]
Index: []